------> ahora las incidencias no estan ligadas a los usuarios, ahora el user es quien reporta la incidencia, // 

------> ahora los equipos no estan ligados a los usuarios, ahora cualquier usuario puede registrar cualquier equipo, //

------> ahora las incidencias pueden ser asignadas a varios tecnicos //

------> ahora las incidencias tienen un campo llamado location, //

------> ahora los equipos tiene un campo externo llamado device_type_id  //


------implementar una BD local porsia servicio no funciona //



------> ahora al concluir las incidencias es necesario indicar los componentes que fueron responsables de las fallas errores-componentes


LAS FALLAS SON LAS CONCLUCIONES DE LA INCIDENCIA, OSEA AL MOMENTO DE CONCLUIR UNA INCIDENCIA SE TIENE QUE AGREGAR LAS FALLAS CON LOS COMPONENTES (REGISTRAR SI ES NUEVO) INVOLUCRADOS EN LA FALLA

NO AL MOMENTO DE REGISTRAR LA INCIDENCIA REGISTRAS LAS FALLAS, ES AL MOMENTO DE CONCLUIRLA 