@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(87, 87, 87) rgb(240, 240, 240);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(249, 252, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 20px;
  border: 3px solid rgb(236, 236, 236);
}

.date-field__dark-clear-button::after{
  @apply bg-gray-300 text-gray-800
}

.date-field__dark-clear-button::after{
  @apply bg-gray-800 text-gray-300
}

//POPOVER
.react-datepicker-popper{
  width: 100% !important;
  z-index: 9999999999 !important;
}

.react-datepicker{
  width: 100% !important;
}

.react-datepicker__triangle{
  display: none !important;
}

//HEADER
.react-datepicker__header{
  @apply bg-gray-300
}


//NAVIGATION

.react-datepicker__navigation{
  top: 20%;
}

.react-datepicker__navigation-icon{
  @apply text-gray-900
}

.react-datepicker__navigation-icon::before{
  border-color: #2d3748 !important;
}

//DAY NAMES
.react-datepicker__day-names{
  display: flex !important;
  justify-content: space-between !important;
}

//MONTH


.react-datepicker__month-container{
  width: 100% !important;
}

.react-datepicker__month{
  padding: .3rem !important;
}

//WEEK
.react-datepicker__week{
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: column !important;
  justify-content: space-between !important;
  width: 100% !important;
}

//DAY
.react-datepicker__day{
  text-align: center !important;
  transition: ease .2s !important;
  font-size: 1rem !important;
  padding: .2rem !important;
  width: 100% !important;
  height: fit-content !important;
  border-radius: .4rem !important;
  // &:hover{
  //   background-color: #3993d8 !important;
  //   color: white !important;
  // }
}



